<div class="centro"><img src="../../../assets/icons/bolsa-de-dinheiro.png" width="150px" alt=""></div>
<div class="centro"><h1 class="negrito">sacar</h1></div>
<div class="centro">

  <form [formGroup]="formsacar" (ngSubmit)="saque()">
    <div class="mb-3 text-input negrito">
      <label for="agencia" class="form-label">Agencia</label>
      <input type="text" class="form-control" id="agencia" formControlName="agencia">
    </div>
    <div class="mb-3 text-input negrito">
      <label for="numero" class="form-label">Numero</label>
      <input type="text" class="form-control" id="numero" formControlName="numeroConta">
    </div>
    <div class="mb-3 text-input">
      <label for="saldo" class="form-label negrito">Saldo</label>
      <input type="text" class="form-control" id="saldo" formControlName="valor">
    </div>


    <button type="submit" class="btn btn-dark">Enviar</button>
  </form>
</div>
