<div class="containerInicial">
  <div><img src="../../../assets/icons/bank.png" width ="300px" alt="">
    <h2 class="roxo">BANCO DO ZODIACO</h2>


    </div>

</div>
<br>
<br>

<div class="containerInicial">
  <div><img src="../../../assets/icons/editar.png" width ="200px" alt="">

    <button class="btn btn-primary btn-outline-dark centro"style="color: white" routerLink="/clientes">Cliente </button>
    </div>
<h1 class="cor">O sucesso de um negócio não depende apenas do serviço de entrega ou de um espaço agradável, o principal fator para o crescimento das vendas é o atendimento ao cliente, que envolve a comunicação humanizada e personalizada.</h1>
</div>
<br>


<div class="containerInicial">
  <h1 class="cor">A conta é digital, e a abertura de conta e remessa de câmbio levam apenas poucos minutos. Proteja seu patrimônio contra o cenário local e mantenha recursos em dólar. Saiba mais! Não é cartão pré-pago. Não é travel card. Abra sua conta em minutos.</h1>
  <div><img src="../../../assets/icons/explorador-de-arquivos.png" width ="200px" alt="">

    <button class="btn btn-primary btn-outline-dark " style="color: white" routerLink="/clientes">conta </button>
    </div>

</div>
<br>
<div class="containerInicial">
  <br>
  <div><img src="../../../assets/icons/saque.png" width ="200px" alt="">
    <button class="btn btn-primary btn-outline-dark centro" style="color: white" routerLink="/contas/saque">saque </button></div>
    <h1 class="cor">Além de não cobrar tarifas para TEDs, pagamentos de contas ou outros encargos convencionais, o Banco ZODIACO também não cobra nada para que seus clientes façam saques.</h1>
</div>
<br>

<div class="containerInicial">
  <br>
  <h1 class="cor">Depósito bancário é a operação financeira mediante a qual um banco recebe determinada quantia em dinheiro, comprometendo-se a mantê-la sob sua guarda e se obrigando a restituí-la, na mesma espécie, quando solicitado pelo depositante ou em data prefixada.</h1>
  <div><img src="../../../assets/icons/deposito.png" width ="200px" alt="">
    <button class="btn btn-primary btn-outline-dark centro" style="color: white" routerLink="/contas/deposito">deposito </button>

</div>
</div>
<br>
<div class="containerInicial">
  <br>
  <div><img src="../../../assets/icons/cartao-de-credito.png" width ="200px" alt="">
    <button class="btn btn-primary btn-outline-dark centro2" style="color: white" routerLink="/contas/transferir">Transferir </button></div>
    <h1 class="cor"> soluções que se encaixam ao seu perfil e que foram pensadas para simplificar o seu dia a dia. Confira o passo a passo para fazer uma transferência entre contas pela internet.</h1>
</div>






<div class="containerInicial">


  <div><img src="../../../assets/icons/envio-para-todo-o-planeta.png" width ="300px" alt="">
    <h1 class="cinza">Se shiryu conseguiu derrotar o mascara da morte (cavaleiro de ouro), vocês também conseguem.</h1>



</div>



